.first-section{
    display: flex;
    justify-content: center;
    opacity: 0.3;
    width: 100%;
    background-size: cover;
    align-items: center;
    height: 100vh;
    background-image: url("../../assets/backgroundnetflix.jpg");
    color: white;
    font-size: 2.5rem;
}